<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ODRIBA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A27990DA1F9AE41500A60788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27990EE1F9AE41600A60788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27990F91F9AE41600A60788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
